<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>members page</title>
   {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body >
<h1>Members page</h1>
<div class="di">
    <form action="" method="POST">
      {% csrf_token %}
      {{ reg_members_form.as_p }}
      <input class="txt" type="submit"name="members"value="RegisterMembers">
  </form>
</div>

{% if submit_members == "RegisterMembers" %}
    {{ name }}
    {{ age }}
    {{ phone }}
    {{ city }}
    {{ country }}

{% endif %}

</body>
</html>
